.todo--list {
  padding-top: 2em;
  width: 100%;
}
.todo--list ul {
  list-style-type: none;
  padding: 0;
}

.todo--list li {
  background-color: #f9f9f9;
  margin: 5px 0;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo--list input {
  width: 70%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
